<ng-container *ngIf="!isAuthorized">
  <section class="content px-2">
    <div class="container-fluid">
      <div id="container">
        <h2>Login</h2>
        <form class="form-horizontal" autocomplete="off" #loginForm="ngForm">
          <div class="card-body">
            <div class="modal-body">
              <div class="form-group row required">
                <div class="col-md-12 mb-3">
                  <input
                    type="text"
                    class="form-control"
                    reverse="true"
                    name="userEmail"
                    id="userEmail"
                    required
                    [(ngModel)]="email"
                    #userEmailModel="ngModel"
                    #userEmailModelEl
                    placeholder="email ..."
                  />

                  <validation-summary
                    [control]="$any(userEmailModel)"
                    [controlEl]="userEmailModelEl"
                  ></validation-summary>
                </div>
              </div>
              <div class="form-group row required">
                <div class="col-md-12 mb-3">
                  <div class="input-pass">
                    <input
                      [type]="type"
                      class="form-control"
                      maxlength="32"
                      reverse="true"
                      name="newPassword"
                      id="newPassword"
                      required
                      [(ngModel)]="password"
                      #newPasswordModel="ngModel"
                      #newPasswordEl
                      placeholder="password ..."
                    />
                    <div class="btn-has-eye-icon" (click)="hideShowPass()">
                      <svg class="icon">
                        <use
                          [attr.href]="
                            isText
                              ? '/assets/img/sprite.svg#eye-open'
                              : '/assets/img/sprite.svg#eye-close'
                          "
                        ></use>
                      </svg>
                    </div>
                  </div>

                  <validation-summary
                    [control]="$any(newPasswordModel)"
                    [controlEl]="$any(newPasswordEl)"
                  ></validation-summary>
                </div>
              </div>
            </div>
          </div>
          <div class="form-inline fr mt-4">
            <!-- <a
              id="forgot"
              data-bs-toggle="modal"
              (click)="openModal()"
              class="font-weight-bold"
              >Forgot password?</a
            > -->
          </div>
          <button (click)="onSubmit(loginForm)">Login</button>
        </form>
        email: {{ email }}; password: {{ password }}
      </div>
    </div>
  </section>
</ng-container>
