.login {
  &-box {
    margin-top: 10%;
    max-width: 594px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    @media (max-width: 600px) {
      max-width: 300px;
    }
  }
}
.card-box {
  background: #fff;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
  padding: 60px 80px 80px;
  @media (max-width: 600px) {
    padding: 30px 20px;
  }
  &-header {
    background: #fff;
    border-bottom: transparent;
    padding: 0;
  }
  &-body {
    padding: 0;
  }
  &-footer {
    background: #fff;
    border-top: transparent;
    padding: 0;
  }
}
