<form class="form-horizontal" autocomplete="off" #editUserForm="ngForm">
  <abp-modal-header
    [title]="title"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body mb-20">
    <div class="container">
      <div class="row mb-15">
        <div class="col-6">
          <label class="txt-14 fw-500 mb-10">Email:</label>
          <input
            type="email"
            class="form-control"
            [(ngModel)]="email"
            name="userEmail"
            #userEmailModel="ngModel"
            #userEmailModelEl
            required
            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{1,})+$"
            email
          />
          <validation-summary
            [control]="userEmailModel"
            [controlEl]="userEmailModelEl"
          ></validation-summary>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="btns btns--start">
            <button class="btn btn-secondary" type="button" (click)="cancel()">
              Cancel
            </button>
            <button
              class="btn btn-primary"
              type="submit"
              (click)="save(editUserForm)"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
